<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExampleApp_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GoogleMapsTileOverlay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C3E508420ECC3F300676BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3E508D20ECC3F300676BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3E50A820ECC5D800676BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C3E50BB20ECC5DA00676BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
